.prodImg{
    margin-bottom: 5px;
    display: flex;

}

.prodImg>img {
    display: flex;
    width: 150px;
    margin-top: 10px;
    margin-left: 150px;
    border-color: rgb(235, 152, 243);
    border-style: solid;
    border-radius: 50%;    
}

.itemInfo{
    margin-top: 60px;
    align-items: center;
}



