.container-prod {
    display: inline-block;
    background-color: rgb(239, 176, 245); 
    width: 50vw;
    height: 60vh;
    margin: 1vh;
    border-radius: 10%;
    box-shadow: grey;
}


.prod-img >img {
    width: 12vw;
    height: 12vw;
    margin-top: 10px;
    border-color: rgb(235, 152, 243);
    border-style: solid;
    border-radius: 50%;    
}
