.containerProd {
    display: inline-block;

}

.itemCard{
    width: 300px;
    height: 400px;
    border: 1px solid rgb(235, 152, 243);
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    margin: 30px 20px;
    background-color: plum;


}


.prodImg{
    margin-bottom: 5px;
    height:35%;
    width: 100%;
   
}


.prodImg>img {
    flex-shrink: 1;
    width: 12vw;
    height: 12vw;
    margin-top: 10px;
    border-color: rgb(235, 152, 243);
    border-style: solid;
    border-radius: 50%;    
}

.itemInfo{
    margin-top: 60px;
    align-items: center;
}
.contenedorCount{

    display:flex;
    width: 100px;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding-left: 100px;
    
}


