.container-prod {
    display: inline-block;
    background-color: bisque; 
    width: 50vw;
    height: 60vh;
    margin: 1vh;
    border-radius: 10%;
    box-shadow: grey;
  
}
.prod-img {
    display:block;
    width: 15vw;
    height: 18vh;
    align-items: center;  
}

.prod-img >img {
    width: 14vw;
    height: 18vh;
    margin-top: 2vh;
    margin-left:4vw;
    border-radius: 10%;    
    
    
}
.product-info{
    margin: 1vh;
}