.container-prod {
    background-color: rgb(231, 171, 233); 
    width: 20vw;
    margin: 1vh;
    border-radius: 10%;
    box-shadow: grey;
}
.product-info{
    margin: 2vh;
}

.botones-lista {
padding-top: 25px;

}